@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Our Team</h1>
    <ul id="list">
        <li>Gabriel</li>
        <li>Delia</li>
        <li>Sorina</li>
        <li>Rares</li>
        <li>Catalin</li>
    </ul>
    <input type="text" id="nameField" title="e.g Name" />
    <button id="createButton" title="Create">Create</button>
</div>


